<ul class="item-list">
    <% for (const item of items) { %>
    <li <%= metadataAttrs(item) %> class="list-item">
        <div class="item-header"><%= item.title %> by <%= item.artist %></div>
        <div class="item-details"> Date: <%- item.date %><br> Rating: <%- item.rating %>/5<br> Best listened while: <%- item.while %> on <%- item.on %> </div> <img src="<%- item.cover %>" alt="Cover image">
        <div class="item-review"><%- item.review %></div>
    </li>
    <% } %>
</ul>

<style>

.item-list {
  list-style: none;
  padding: 0;
}
.list-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.item-header {
  display: flex;
  align-items: center;
}
.item-cover {
  height: 150px;
  margin-right: 10px;
}
.item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item-title {
  margin: 0;
}
.item-rating {
  margin: 5px 0;
}
.item-details {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-style: italic;
}
.item-review {
  text-align: justify;
}
</style>
